<%= form_for @genre do |f| %>

  <% if @genre.errors.any? %>
    <% @genre.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <%= f.submit %>
<% end %>