<%= form_for @genre do |f| %>

<ul class="nav navbar-nav navbar-right">
  <% if current_user %>
    <li><span class="profile-email"><%= current_user.email %><span></li>
    <li><%= link_to "sign out", destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li> <%= link_to "register", new_user_registration_path %></li>
    <li> <%= link_to "sign in", user_session_path %></li>
  <% end %>
</ul>

  <% if @genre.errors.any? %>
    <% @genre.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <%= f.submit %>
<% end %>