<ul class="nav navbar-nav navbar-right">
  <% if current_user %>
    <li><span class="profile-email"><%= current_user.email %><span></li>
    <li><%= link_to "sign out", destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li> <%= link_to "register", new_user_registration_path %></li>
    <li> <%= link_to "sign in", user_session_path %></li>
  <% end %>
</ul>

<p><%= link_to "Back to Genre List", genres_path %></p>
<p><%= link_to "Click Here for Movie List", movies_path %></p>
<p><%= link_to "Click Here for Reviewer List", reviewers_path %></p>


<% if current_user %>
  <p><%= link_to "Create New Genre", new_genre_path %></p>
<% end %>


<p>
  <strong>Genre Name:</strong> <%= @genre.name %>
</p>

<% if current_user %>

<td><%= link_to "edit", edit_genre_path(@genre) %></td>

  <h3>Add a Movie</h3>
  <%= form_for @movie do |f| %>
    <p>
     <%= f.label :title %><br/>
     <%= f.text_field :title %>
    </p>

    <%= f.hidden_field :genre_id, value: @genre.id %>

    <%= f.submit %>

  <% end %>
<% end %>

<h3>Movies</h3>
 
<% @movies.each do |movie| %>
  <p>Title: <%= link_to(movie.title, movie_path(movie)) %></p>
  <hr/>
<% end %>
