<%= form_for @movie do |f| %>

<ul class="nav navbar-nav">
  <li><%=link_to "LOGIN", user_session_path %></li>
  <li><%= link_to('SIGN UP', new_user_registration_path)  %></li>
  <li><%=link_to('LOGOUT', destroy_user_session_path, :method => :delete) %></li>
</ul>

  <% if @movie.errors.any? %>
    <% @movie.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :genre %><br>
    <%= collection_select(:movie, :genre_id, Genre.all, :id, :name, include_blank: true) %>
  </p>

  <%= f.submit %>
<% end %>