<ul class="nav navbar-nav navbar-right">
  <% if current_user %>
    <li><span class="profile-email"><%= current_user.email %><span></li>
    <li><%= link_to "sign out", destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li> <%= link_to "register", new_user_registration_path %></li>
    <li> <%= link_to "sign in", user_session_path %></li>
  <% end %>
</ul>


<p><%= link_to "Back to Movie List", movies_path %></p>
<p><%= link_to "Click Here for Genre List", genres_path %></p>
<p><%= link_to "Click Here for Reviewer List", reviewers_path %></p>


<% if current_user %>
  <p><%= link_to "Create New Movie", new_movie_path %></p>
<% end %>

<p>
  <strong>Movie Title:</strong> <%= @movie.title %>
</p>

<p>
  <strong>Genre:</strong> <%= @movie.genre.try(:name) %>
</p>

<% if current_user %>

<td><%= link_to "edit", edit_movie_path(@movie) %></td>

  <h3>Add a Review</h3>
  <%= form_for @review do |f| %>
    <p>
     <%= f.label :title %><br/>
     <%= f.text_field :title %>
    </p>

    <p>
     <%= f.label :content %><br/>
     <%= f.text_area :content %>
    </p>

    <%= f.hidden_field :movie_id, value: @movie.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <%= f.submit %>

  <% end %>
<% end %>

<% if @review %>

<h3>Reviews</h3>
 
  <% @reviews.each do |review| %>
    <p>From: <%= review.user.email %></p>
    <p>Title: <%= review.title %></p>
    <p><%= review.content %></p>
    <p><%= review.created_at %></p>
    <hr/>
  <% end %>

<% end %>