<h1>Film Twitic</h1>

<ul class="nav navbar-nav navbar-right">
  <% if current_user %>
    <li><span class="profile-email"><%= current_user.email %><span></li>
    <li><%= link_to "sign out", destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li> <%= link_to "register", new_user_registration_path %></li>
    <li> <%= link_to "sign in", user_session_path %></li>
  <% end %>
</ul>


<p><%= link_to "View Movies", movies_path %></p>
<p><%= link_to "View Genres", genres_path %></p>